.repository-list {
    margin: 40px;

    .title {
        margin-bottom: 16px;
    }

    .list-items {
        list-style: none;

        .item + .item {
            margin-top: 20px;
        }

        .text {
            font-size: 14px;
            color: #444;
            margin-top: 8px;
        }

        .link {
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            color: #8257e6;
            transition: .35s opacity ease-in-out;

            &:hover {
                opacity: .7;
            }
        }
    }
}